In [24]:
from model import build_time_series_ds, build_tft
from config import get_config
from levels import level_id, level_id_dates
import numpy as np
import pandas as pd 

from pytorch_forecasting import TemporalFusionTransformer,TimeSeriesDataSet

from IPython.display import clear_output

config = get_config()

In [9]:
trainer, tft, val_dataloader = build_tft(config)

train_dataloader, val_dataloader, ds_train,df = build_time_series_ds(config)

raw_preds = tft.predict(val_dataloader, mode="raw", return_x=True)

clear_output()

In [16]:
dsp = ds_train.get_parameters()
dsp['predict_mode'] = True

In [17]:
df,_= level_id_dates(3,True,False)

In [18]:
df

,date,store_id,value,wday,month,year,snap_CA,snap_TX,snap_WI,event_name_1_Chanukah End,...,cos_day_week,sin_day_of_year,cos_day_of_year,sin_week_year,cos_week_year,sin_month,cos_month,sin_quarter,cos_quarter,time_idx
0,2011-01-29,CA_1,4337,1,1,2011,0,0,0,0,...,-0.222521,0.478734,0.877960,-0.433884,-0.900969,0.500000,0.866025,0.500000,0.866025,0
1,2011-01-30,CA_1,4155,2,1,2011,0,0,0,0,...,0.623490,0.493776,0.869589,-0.433884,-0.900969,0.500000,0.866025,0.500000,0.866025,1
2,2011-01-31,CA_1,2816,3,1,2011,0,0,0,0,...,1.000000,0.508671,0.860961,-0.974928,-0.222521,0.500000,0.866025,0.500000,0.866025,2
3,2011-02-01,CA_1,3051,4,2,2011,1,1,0,0,...,0.623490,0.523416,0.852078,-0.974928,-0.222521,0.866025,0.500000,0.500000,0.866025,3
4,2011-02-02,CA_1,2630,5,2,2011,1,0,1,0,...,-0.222521,0.538005,0.842942,-0.974928,-0.222521,0.866025,0.500000,0.500000,0.866025,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19405,2016-05-18,WI_3,3268,5,5,2016,0,0,0,0,...,-0.222521,0.680773,-0.732494,-0.781831,0.62349,0.500000,-0.866025,0.866025,0.500000,1936
19406,2016-05-19,WI_3,3398,6,5,2016,0,0,0,0,...,-0.900969,0.668064,-0.744104,-0.781831,0.62349,0.500000,-0.866025,0.866025,0.500000,1937
19407,2016-05-20,WI_3,4126,7,5,2016,0,0,0,0,...,-0.900969,0.655156,-0.755493,-0.781831,0.62349,0.500000,-0.866025,0.866025,0.500000,1938
19408,2016-05-21,WI_3,4519,1,5,2016,0,0,0,0,...,-0.222521,0.642055,-0.766659,-0.781831,0.62349,0.500000,-0.866025,0.866025,0.500000,1939
19409,2016-05-22,WI_3,4757,2,5,2016,0,0,0,0,...,0.623490,0.628763,-0.777597,-0.781831,0.62349,0.500000,-0.866025,0.866025,0.500000,1940

In [19]:
dft, _ = level_id_dates(3, True, True)

dft.time_idx += 1941

dft.value = 0

test

In [20]:
dft

,date,store_id,value,wday,month,year,snap_CA,snap_TX,snap_WI,event_name_1_MemorialDay,...,cos_day_week,sin_day_of_year,cos_day_of_year,sin_week_year,cos_week_year,sin_month,cos_month,sin_quarter,cos_quarter,time_idx
0,2016-05-23,CA_1,0,3,5,2016,0,0,0,0,...,1.000000,0.615285,-0.788305,-0.0,1.0,5.000000e-01,-0.866025,0.866025,0.5,1941
1,2016-05-24,CA_1,0,4,5,2016,0,0,0,0,...,0.623490,0.601624,-0.798779,-0.0,1.0,5.000000e-01,-0.866025,0.866025,0.5,1942
2,2016-05-25,CA_1,0,5,5,2016,0,0,0,0,...,-0.222521,0.587785,-0.809017,-0.0,1.0,5.000000e-01,-0.866025,0.866025,0.5,1943
3,2016-05-26,CA_1,0,6,5,2016,0,0,0,0,...,-0.900969,0.573772,-0.819015,-0.0,1.0,5.000000e-01,-0.866025,0.866025,0.5,1944
4,2016-05-27,CA_1,0,7,5,2016,0,0,0,0,...,-0.900969,0.559589,-0.828770,-0.0,1.0,5.000000e-01,-0.866025,0.866025,0.5,1945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2016-06-15,WI_3,0,5,6,2016,0,1,1,0,...,-0.222521,0.263665,-0.964614,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.5,1964
276,2016-06-16,WI_3,0,6,6,2016,0,0,0,0,...,-0.900969,0.247022,-0.969010,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.5,1965
277,2016-06-17,WI_3,0,7,6,2016,0,0,0,0,...,-0.900969,0.230306,-0.973118,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.5,1966
278,2016-06-18,WI_3,0,1,6,2016,0,0,0,0,...,-0.222521,0.213521,-0.976938,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.5,1967
279,2016-06-19,WI_3,0,2,6,2016,0,0,0,0,...,0.623490,0.196673,-0.980469,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.5,1968

In [21]:
pred_outline = pd.concat([df,dft]).fillna(0)

In [22]:
pred_outline

,date,store_id,value,wday,month,year,snap_CA,snap_TX,snap_WI,event_name_1_Chanukah End,...,cos_day_week,sin_day_of_year,cos_day_of_year,sin_week_year,cos_week_year,sin_month,cos_month,sin_quarter,cos_quarter,time_idx
0,2011-01-29,CA_1,4337,1,1,2011,0,0,0,0.0,...,-0.222521,0.478734,0.877960,-0.433884,-0.900969,5.000000e-01,0.866025,0.500000,0.866025,0
1,2011-01-30,CA_1,4155,2,1,2011,0,0,0,0.0,...,0.623490,0.493776,0.869589,-0.433884,-0.900969,5.000000e-01,0.866025,0.500000,0.866025,1
2,2011-01-31,CA_1,2816,3,1,2011,0,0,0,0.0,...,1.000000,0.508671,0.860961,-0.974928,-0.222521,5.000000e-01,0.866025,0.500000,0.866025,2
3,2011-02-01,CA_1,3051,4,2,2011,1,1,0,0.0,...,0.623490,0.523416,0.852078,-0.974928,-0.222521,8.660254e-01,0.500000,0.500000,0.866025,3
4,2011-02-02,CA_1,2630,5,2,2011,1,0,1,0.0,...,-0.222521,0.538005,0.842942,-0.974928,-0.222521,8.660254e-01,0.500000,0.500000,0.866025,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2016-06-15,WI_3,0,5,6,2016,0,1,1,0.0,...,-0.222521,0.263665,-0.964614,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.500000,1964
276,2016-06-16,WI_3,0,6,6,2016,0,0,0,0.0,...,-0.900969,0.247022,-0.969010,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.500000,1965
277,2016-06-17,WI_3,0,7,6,2016,0,0,0,0.0,...,-0.900969,0.230306,-0.973118,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.500000,1966
278,2016-06-18,WI_3,0,1,6,2016,0,0,0,0.0,...,-0.222521,0.213521,-0.976938,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.500000,1967
279,2016-06-19,WI_3,0,2,6,2016,0,0,0,0.0,...,0.623490,0.196673,-0.980469,0.433884,-0.900969,1.224647e-16,-1.000000,0.866025,0.500000,1968

In [23]:
tft = TemporalFusionTransformer.load_from_checkpoint(
    "checkpoints/1/LEVEL=0-epoch=0-val_loss=552.43.ckpt"
)

/home/luke/.local/lib/python3.10/site-packages/lightning/pytorch/utilities/parsing.py:198: Attribute 'loss' is an instance of `nn.Module` and is already saved during checkpointing. It is recommended to ignore them using `self.save_hyperparameters(ignore=['loss'])`.
/home/luke/.local/lib/python3.10/site-packages/lightning/pytorch/utilities/parsing.py:198: Attribute 'logging_metrics' is an instance of `nn.Module` and is already saved during checkpointing. It is recommended to ignore them using `self.save_hyperparameters(ignore=['logging_metrics'])`.

In [33]:
pred_outline.wday = pred_outline.wday.astype(str)
pred_outline.month = pred_outline.month.astype(str)
pred_outline.reset_index(drop=True,inplace=True)

In [37]:
pred_outline.value = pred_outline.value.astype(float)

In [38]:
new_prediction_data = TimeSeriesDataSet.from_parameters(dsp,pred_outline)

In [39]:
raw_preds = tft.predict(new_prediction_data, mode="raw", return_x=True, num_workers=32)

GPU available: True (cuda), used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]

In [40]:
labels = {k: tft.hparams.embedding_labels[k] for k in tft.hparams.static_categoricals}
labels = {
    outer_k: {v: k for k, v in outer_v.items()} for outer_k, outer_v in labels.items()
}
groups = raw_preds[1]["groups"].cpu().numpy()

In [42]:
labels = {
    outer_k: {v: k for k, v in tft.hparams.embedding_labels[outer_k].items()}
    for outer_k in tft.hparams.static_categoricals
}

In [43]:
labels_list = list(labels.values())
new_groups_shape = (groups.shape[0], groups.shape[1])
new_groups = []

for group in groups:
    new_group = []
    for i, item in enumerate(group):
        
        dict_to_use = labels_list[i % len(labels_list)]
        new_value = dict_to_use.get(item, None)
        new_group.append(new_value)
    new_groups.append(new_group)

groups = np.array(new_groups, dtype=object)

preds = raw_preds[0].prediction

In [44]:
groups = raw_preds[1]["groups"].cpu().numpy()
labels_list = list(labels.values())

new_groups = [
    [labels_list[i % len(labels_list)].get(item, None) for i, item in enumerate(group)]
    for group in groups
]
groups = np.array(new_groups, dtype=object)

In [45]:
df_preds = pd.DataFrame()

for g in range(len(groups)):
    p = preds[g][:,3].cpu().numpy()
    col = tuple(groups[g])
    df_preds[col] = p

df_preds = df_preds.round(0)
df_preds.index = df_preds.index + 1942
df_preds = df_preds[:-2].astype(int)

In [46]:
df_preds

      CA_1  CA_2  CA_3  CA_4  TX_1  TX_2  TX_3  WI_1  WI_2  WI_3
1942  4382  3059  6288  2195  2874  4072  3244  2775  3728  3548
1943  4353  3053  6243  2197  2879  4052  3233  2754  3674  3539
1944  4394  3058  6279  2194  2873  4069  3233  2755  3685  3545
1945  4443  3064  6346  2188  2865  4103  3238  2767  3735  3554
1946  4468  3055  6384  2177  2853  4114  3244  2763  3772  3554
1947  4449  3038  6364  2171  2847  4087  3237  2749  3761  3540
1948  4400  3044  6308  2178  2856  4074  3238  2756  3733  3539
1949  4311  3022  6236  2173  2847  4031  3218  2663  3695  3511
1950  4285  3019  6186  2175  2846  4015  3207  2640  3626  3505
1951  4335  3025  6233  2176  2838  4032  3208  2643  3641  3512
1952  4396  3028  6315  2171  2839  4073  3215  2666  3714  3522
1953  4428  3014  6359  2161  2834  4076  3219  2672  3760  3517
1954  4404  2995  6334  2154  2829  4041  3212  2656  3739  3500
1955  4346  3005  6265  2161  2832  4029  3216  2653  3701  3503
1956  4344  3046  6268  2207  2927  4048  3247  2690  3748  3528
1957  4319  3039  6221  2205  2922  4027  3234  2664  3681  3520
1958  4367  3046  6267  2206  2921  4054  3235  2671  3700  3528
1959  4430  3057  6356  2206  2926  4106  3246  2711  3784  3541
1960  4461  3054  6404  2201  2926  4120  3255  2734  3834  3544
1961  4434  3037  6375  2195  2921  4087  3248  2720  3812  3531
1962  4378  3040  6303  2199  2922  4066  3249  2700  3762  3528
1963  4426  3102  6356  2251  3050  4104  3290  2815  3852  3576
1964  4398  3088  6309  2243  3044  4074  3274  2783  3792  3563
1965  4441  3097  6353  2245  3047  4103  3276  2802  3822  3570
1966  4505  3120  6444  2255  3054  4167  3294  2859  3912  3590
1967  4542  3137  6497  2264  3057  4202  3315  2898  3967  3610

# true data?

In [47]:
df, identifiers = level_id(config['level'], test=True)
df_true = df.pivot_table(index="date", columns=identifiers, values="value")

test

In [48]:
df_true

store_id    CA_1  CA_2  CA_3  CA_4  TX_1  TX_2  TX_3  WI_1  WI_2  WI_3
date
2016-05-23  4091  4266  6282  2653  3351  3870  4151  3787  4276  3658
2016-05-24  3938  4009  5556  2681  3448  3650  3931  3531  3780  3232
2016-05-25  3971  3897  5526  2532  3116  3386  3445  3541  4044  2897
2016-05-26  4481  3982  5626  2699  2982  3448  3339  3440  4106  3133
2016-05-27  4698  4928  5756  2803  2880  2997  3493  4077  4451  3941
2016-05-28  5088  6294  6277  3035  4222  5368  4950  4804  4844  4114
2016-05-29  5767  5778  6505  2680  4104  4488  4081  4065  4384  3852
2016-05-30  5011  5117  6448  2948  3641  4408  3844  3451  3760  3715
2016-05-31  4484  3980  5715  2688  2982  3534  3521  3348  3710  3207
2016-06-01  4814  4207  5808  2830  3573  3893  4374  3546  5485  3785
2016-06-02  3963  4306  5399  2780  3132  2936  3196  3541  5993  4337
2016-06-03  5065  5047  6144  2835  3597  4292  4792  4362  6850  4798
2016-06-04  5730  6897  7310  3379  3750  4479  4380  5062  6192  5148
2016-06-05  6292  6526  7895  3406  4208  4432  4554  4994  6550  5180
2016-06-06  4660  4525  5803  2918  3514  4324  4381  3554  6306  4748
2016-06-07  4487  4045  6390  2585  3264  3846  4049  3138  4905  3929
2016-06-08  3910  4123  6239  2498  3150  3670  3834  3207  5523  3788
2016-06-09  4393  4114  5889  2625  3430  3965  4002  3744  6221  4102
2016-06-10  4846  5229  6131  2981  3543  4205  3894  4288  5146  4161
2016-06-11  5739  6571  7106  3083  4298  5107  4648  4920  6739  5288
2016-06-12  6264  6502  7489  3270  4365  4634  4558  5089  6898  5316
2016-06-13  4627  4382  5984  2894  3888  4380  4499  3502  4888  3510
2016-06-14  4070  4176  5421  2637  3316  3720  4237  3345  6052  4196
2016-06-15  4234  4070  5240  2714  3585  4482  4341  3585  5931  4167
2016-06-16  4076  3837  5258  2368  3376  3913  4130  3915  5104  3724
2016-06-17  4731  4715  5658  2756  3462  4523  4399  4099  5054  4440
2016-06-18  5680  6248  6970  3136  4110  4647  4486  5079  5264  4728
2016-06-19  4877  5760  6806  3005  4222  4594  4480  4293  4522  4506

# loss

In [49]:
df_preds = df_preds.reset_index(drop=True)
df_true = df_true.reset_index(drop=True)


df_preds.columns = [
    col[0] if isinstance(col, tuple) and len(col) == 1 else col
    for col in df_preds.columns
]
df_true.columns = [
    col[0] if isinstance(col, tuple) and len(col) == 1 else col
    for col in df_true.columns
]

In [50]:
mse = ((df_true - df_preds)**2).mean()

historical_diffs = df_true.diff().iloc[1:] 
scaling_factors = (historical_diffs**2).mean()

scaling_factors = scaling_factors.replace(0, np.nan)

rmsse = np.sqrt(mse / scaling_factors).mean()

In [51]:
rmsse

1.661976831661767

In [1]:
from preds import rmsse_scores

In [2]:
rmsse, df_preds, df_true = rmsse_scores(
    "checkpoints/2/epoch=3-val_loss=312.49-3.ckpt"
)
rmsse

1.18786239853377

In [3]:
df_preds

    CA_1  CA_2  CA_3  CA_4  TX_1  TX_2  TX_3  WI_1  WI_2  WI_3
0   4418  3282  6327  2407  3227  4083  3421  3344  3924  3486
1   4182  3159  6033  2323  3104  3860  3283  3169  3805  3280
2   4032  3193  5800  2299  3065  3700  3236  3189  3900  3200
3   3808  3117  5539  2199  2956  3594  3125  3135  3923  3098
4   4344  3734  6095  2425  3246  3924  3434  3641  4286  3499
5   5753  4427  7856  2845  3836  4990  4078  4222  4652  4326
6   5765  4387  7949  2837  3815  5062  4054  4176  4551  4281
7   4213  3246  6056  2343  3074  3852  3265  3223  3624  3323
8   3932  3139  5715  2249  2942  3618  3117  3045  3513  3096
9   3806  3426  5513  2221  2886  3502  3054  3111  3618  3022
10  3689  3260  5403  2140  2838  3494  3006  3072  3690  2973
11  4112  3837  5835  2343  3071  3738  3247  3553  4032  3308
12  5439  4460  7361  2775  3588  4513  3811  4147  4330  4067
13  5554  4452  7599  2783  3591  4652  3821  4106  4192  4096
14  4152  3396  5974  2332  3046  3787  3234  3207  3611  3279
15  3902  3356  5670  2242  2918  3584  3092  3035  3503  3064
16  3754  3392  5464  2210  2873  3472  3035  3073  3625  2978
17  3661  3249  5375  2148  2841  3470  3002  3053  3704  2943
18  4099  3859  5825  2360  3088  3723  3259  3556  4058  3279
19  5379  4463  7283  2765  3585  4463  3808  4148  4346  4000
20  5523  4460  7561  2782  3602  4628  3834  4115  4218  4048
21  4330  3440  6215  2391  3214  4026  3410  3307  3973  3439
22  4078  3361  5908  2305  3086  3798  3265  3124  3844  3228
23  3934  3398  5704  2284  3049  3655  3215  3153  3920  3150
24  3790  3283  5539  2221  2977  3586  3138  3127  3952  3079
25  4342  3974  6129  2459  3287  3936  3469  3658  4329  3482

In [4]:
df_true

    CA_1  CA_2  CA_3  CA_4  TX_1  TX_2  TX_3  WI_1  WI_2  WI_3
0   4091  4266  6282  2653  3351  3870  4151  3787  4276  3658
1   3938  4009  5556  2681  3448  3650  3931  3531  3780  3232
2   3971  3897  5526  2532  3116  3386  3445  3541  4044  2897
3   4481  3982  5626  2699  2982  3448  3339  3440  4106  3133
4   4698  4928  5756  2803  2880  2997  3493  4077  4451  3941
5   5088  6294  6277  3035  4222  5368  4950  4804  4844  4114
6   5767  5778  6505  2680  4104  4488  4081  4065  4384  3852
7   5011  5117  6448  2948  3641  4408  3844  3451  3760  3715
8   4484  3980  5715  2688  2982  3534  3521  3348  3710  3207
9   4814  4207  5808  2830  3573  3893  4374  3546  5485  3785
10  3963  4306  5399  2780  3132  2936  3196  3541  5993  4337
11  5065  5047  6144  2835  3597  4292  4792  4362  6850  4798
12  5730  6897  7310  3379  3750  4479  4380  5062  6192  5148
13  6292  6526  7895  3406  4208  4432  4554  4994  6550  5180
14  4660  4525  5803  2918  3514  4324  4381  3554  6306  4748
15  4487  4045  6390  2585  3264  3846  4049  3138  4905  3929
16  3910  4123  6239  2498  3150  3670  3834  3207  5523  3788
17  4393  4114  5889  2625  3430  3965  4002  3744  6221  4102
18  4846  5229  6131  2981  3543  4205  3894  4288  5146  4161
19  5739  6571  7106  3083  4298  5107  4648  4920  6739  5288
20  6264  6502  7489  3270  4365  4634  4558  5089  6898  5316
21  4627  4382  5984  2894  3888  4380  4499  3502  4888  3510
22  4070  4176  5421  2637  3316  3720  4237  3345  6052  4196
23  4234  4070  5240  2714  3585  4482  4341  3585  5931  4167
24  4076  3837  5258  2368  3376  3913  4130  3915  5104  3724
25  4731  4715  5658  2756  3462  4523  4399  4099  5054  4440
26  5680  6248  6970  3136  4110  4647  4486  5079  5264  4728
27  4877  5760  6806  3005  4222  4594  4480  4293  4522  4506